*{
    margin: 0%;
}

.navbar{
    height: 55px;
    background: #F55A5A;
    font-weight: 500;
    font-size: 14.4608px;
    line-height: 18px;
    letter-spacing: -0.075em;
    color: white;
    text-align: center;
}